faculty     > university
faculty     > college
field       > university
field       > college
subfield    > university
subfield    > college
subject     > university
subject     > college
chair       > university
chair       > college
site        > university
site        > agency
site        > academy
site        > factory
site        > college
site        > clinic
site        > company
site        > center
site        > collection
lab         > university
lab         > agency
lab         > association
lab         > academy
lab         > factory
lab         > college
lab         > clinic
lab         > company
lab         > center
lab         > collection
institute   > university
institute   > agency
institute   > association
institute   > academy
institute   > factory
institute   > college
institute   > clinic
institute   > center
institute   > collection
community   > university
community   > agency
community   > association
community   > academy
community   > factory
community   > college
community   > clinic
community   > company
community   > center
community   > collection
other       > university
other       > agency
other       > association
other       > academy
other       > factory
other       > college
other       > clinic
other       > company
other       > center
other       > collection
country     > university
country     > agency
country     > association
country     > academy
country     > factory
country     > college
country     > clinic
country     > company
country     > center
country     > collection
city        > university
city        > agency
city        > association
city        > academy
city        > factory
city        > college
city        > clinic
city        > company
city        > center
city        > collection
